*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: #f0fdf4;
    color:#333;/* color de letra */
    padding: 20px;
}
header{
    background-color: #4caf50; /* color del encabezado  barra de navegacion*/
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style: none;
 
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
main{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 600px) {
 nav ul li {
 display: block;
 margin: 10px 0;
 }
}